<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIS : 메일 보기</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/email/mail_detail.css"/>
</head>
<body>
    <div class="main">
        <header>
            <div class="header_left">
                <a href="emp_main">
                    <img src="/img/logo.png" alt="Logo" class="logo_img">
                    <div>
                        <span class="logo_text">○○○ Company</span>
                    </div>
                </a>
            </div>
            <div class="header_right">
                <div>
                    <span class="login_user">○○○ 님</span>
                </div>
                <form action="" method="">
                    <input type="button" value="로그아웃" class="logout_btn">
                </form>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="email"><span>이메일</span></a></li>
                <li><a href=""><span>게시판</span></a></li>
                <li><a href=""><span>근태관리</span></a></li>
                <li><a href=""><span>개인업무</span></a></li>
            </ul>
        </nav>
        <section>
            <div class="mail_container">
                <div class="mail_content_top">
                    <div class="mail_title">
                        <span>제목</span>
                        <input type="text" value="이곳엔 제목이 들어갑니다." readonly>
                    </div>
                    <div class="mail_people">
                        <div class="mail_recipient">
                            <span>발신인</span>
                            <input type="text" alt="Recipient" value="보내는 사람" readonly>
                        </div>
                        <div class="mail_sender">
                            <span>수신인</span>
                            <input type="text" alt="Sender" value="받는 사람" readonly>
                        </div>
                    </div>
                </div>
                <div class="mail_content_middle">
                    <textarea class="mail_content" readonly>이곳엔 내용이 들어갑니다.</textarea>
                </div>
                <div class="mail_content_bottom">
                    <div class="mail_file">
                        <a href="">파일 원본명으로 표시</a>
                        <a href="">파일 원본명으로 표시</a>
                        <a href="">파일 원본명으로 표시</a>
                    </div>
                    <div class="mail_delete">
                        <a href="email_delete">
                            <input type="button" value="삭제하기" class="delete_btn">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>